h1{
    color:#000080;
    margin-top: 100px;
    margin-left:300px;
}
h3 {
    color:#cc5500;
}
h4 {
    color:#000080;
    margin-left:100px;
}
body{
    margin-left:30px;
    font-family: Verdana, Geneva;
    Font-size: 17px;
    color: #ff0000;
    line-height: 1.6;
}
body:nth-child(10) {
    color: white;
}

footer {
    color: black;
}

#showcase{
    background-image:url('../img/backgroundphoto.jpg');
    background-size:cover;
    background-position:center;
    height: 100vh;
}

.state {
    margin-left:300px;
}